.app-navbar {
  width: 100vw;
  border-bottom: 1px solid var(--app-dark-color);
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .right-wrapper {
      display: flex;
      align-items: center;
      gap: 10px;
      .profile-button {
        padding: 7px 10px;
        svg {
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}
