.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .marketplace-info,
  .nft-collection-container {
    width: 100%;
    max-width: 1200px;
    padding: 40px 15px 100px;

    .nft-collection-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #252838;
      padding-bottom: 10px;
      h2 {
        font-weight: 500;
      }
      button {
        border-color: #646cff;
        background-color: #646cff;
      }
    }

    .nft-collection {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 30px 20px;
      padding: 20px;
      .nft-card {
        position: relative;
        padding: 10px;
        max-width: 200px;
        background-color: #242634;
        border-radius: 20px;
        img {
          height: 250px;
          width: 180px;
          object-fit: cover;
          border-radius: 12px;
          cursor: pointer;
        }
        .nft-info {
          height: 40px;
          position: absolute;
          top: 220px;
          left: 10px;
          width: calc(100% - 20px);
          backdrop-filter: blur(5px);
          background-color: #fff1;
          border-radius: 0 0 12px 12px;
        }
        p {
          font-weight: 600;
        }
        .buy-container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px;
          background-color: #fff1;
          margin-top: 5px;
          border-radius: 10px;
          button {
            width: 100%;
            font-size: 13px;
            font-weight: 600;
            background-color: #646cff;
            color: white;
            border-radius: 7px;
          }
        }
      }
    }
    .bordered-container{
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 250px;
      width: 100%;
      border: 1px solid #252838;
      margin-top: 30px;
      border-radius: 15px;
      p{
        font-size: 18px;
        color: #5e6275;
      }
    }
  }

  h1 {
    font-size: 2.8rem; /* Larger for main heading */
    font-weight: 700; /* Bolder for importance */
    margin-bottom: 1rem;
  }

  .collaboration-message:before {
    content: "🤝"; /* Example emoji icon before the message */
    margin-right: 4px;
  }

  /* Hover Effects */
  .collaboration-message:hover {
    text-shadow: 0 1px 3px rgba(255, 255, 255, 0.5);
  }
}
